<template
  ><div id="users" class="mb-16">
    <v-row id="filters">
      <v-col sm="6" md="4">
        <v-text-field
          v-model="filter.search"
          prepend-inner-icon="mdi-magnify"
          label="Поиск"
          single-line
          filled
          clearable
          autocomplete="off"
          name="search"
          @keyup.enter="loadItems()"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card>
          <v-card-title>
            Контрагенты
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            :options.sync="iteratorOptions"
            :server-items-length="totalItems"
            :loading="itemsLoading"
            @click:row="(_e, { item }) => openCounterpartyPage(item)"
          >
            <template v-slot:item.attributes.display_name="{ item }">
              {{ item.attributes.display_name }}
              <v-icon
                v-if="item.attributes.has_signed_contracts"
                color="green"
                small
                class="mb-1"
              >
                mdi-check-circle-outline
              </v-icon>
            </template>
            <template v-slot:item.attributes._type="{ item }">
              {{ $t(`counterparties.types.${item.attributes._type}`) }}
            </template>
            <template v-slot:item.attributes.status="{ item }">
              {{ $t(item.attributes.status) }}
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-btn
      color="primary"
      fixed
      bottom
      right
      dark
      fab
      @click="createCounterparty()"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script>
import serverSidePaginated from '../../mixins/serverSidePaginated'
import counterparties from '../../mixins/resources/counterparties'
import CounterpartyDialog from '../../components/counterparties/CounterpartyDialog'

export default {
  name: 'Index',
  mixins: [serverSidePaginated({ resource: 'counterparties' }), counterparties],
  data: () => ({
    headers: [
      { text: 'Название', value: 'attributes.display_name' },
      { text: 'Тип', value: 'attributes._type' },
      { text: 'Статус', value: 'attributes.status' },
    ],
  }),
  methods: {
    async createCounterparty(openPage = true) {
      const dialog = await this.$dialog.showAndWait(CounterpartyDialog, {
        persistent: true,
      })

      if (dialog !== false) {
        await this.$store.dispatch('counterparties/create', dialog)
        const counterparty = this.$store.getters['counterparties/lastCreated']
        return openPage && this.openCounterpartyPage(counterparty)
      }
    },
  },
}
</script>
