<template functional>
  <v-app>
    <v-main style="background-color: rgb(248, 250, 254);">
      <v-container fluid class="fill-height">
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>
